*:not(:defined) {
    display: none;
}

body {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em
}

#counter {
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 1em;
    border: 1px black solid;
    width: fit-content;
}